@model CRUD_LABORATORIO_DM1._0.Models.CLIENTE

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CLIENTE</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_CLIENTE" />
            <div class="form-group">
                <label asp-for="CEDULA" class="control-label"></label>
                <input asp-for="CEDULA" class="form-control" />
                <span asp-validation-for="CEDULA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOMBRE" class="control-label"></label>
                <input asp-for="NOMBRE" class="form-control" />
                <span asp-validation-for="NOMBRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APELLIDO" class="control-label"></label>
                <input asp-for="APELLIDO" class="form-control" />
                <span asp-validation-for="APELLIDO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMAIL" class="control-label"></label>
                <input asp-for="EMAIL" class="form-control" />
                <span asp-validation-for="EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TELEFONO" class="control-label"></label>
                <input asp-for="TELEFONO" class="form-control" />
                <span asp-validation-for="TELEFONO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DIRECCION" class="control-label"></label>
                <input asp-for="DIRECCION" class="form-control" />
                <span asp-validation-for="DIRECCION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USUARIO" class="control-label"></label>
                <input asp-for="USUARIO" class="form-control" />
                <span asp-validation-for="USUARIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DESCRIPCION_SERVICIO" class="control-label"></label>
                <input asp-for="DESCRIPCION_SERVICIO" class="form-control" />
                <span asp-validation-for="DESCRIPCION_SERVICIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FECHA_RECEPCION" class="control-label"></label>
                <input asp-for="FECHA_RECEPCION" class="form-control" />
                <span asp-validation-for="FECHA_RECEPCION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FECHA_ENTREGA" class="control-label"></label>
                <input asp-for="FECHA_ENTREGA" class="form-control" />
                <span asp-validation-for="FECHA_ENTREGA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OBSERVACIONES" class="control-label"></label>
                <input asp-for="OBSERVACIONES" class="form-control" />
                <span asp-validation-for="OBSERVACIONES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
